@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment_2_web_049</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assignment_2_web_049.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Assignment_2_web_049</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Assignment_2_web_049 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
@*<link rel="stylesheet" href="./CSS/replicaStyling.css">*@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/replicaStyling.css" />
<title>University of Sialkot</title>
<link rel="icon" type="image/x-icon" href="~/lib/img/uskt.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav >
        <div class="logo"> 
            <img src="~/lib/img/usktlogo.png" alt="usktlogo" width="900">
            <ul>
                <li> <a href="#"> Home </a>    </li>
                <li>
                    <a href="#"> About Uskt </a> 
                    <a class="active" href="#"> Addmissions</li></a>
                
                <li>

                    <a href="#"> Academics </a> 
                    <ul>
                        <li> <a href="#"> Faculties </a>    </li>
                        <li> <a href="#"> Extended Learning Program </a>    </li>
                    </ul>

                </li>
                <li>
                    <a href="#">Offices </a>
                    <ul>
                        <li> <a href="#"> Statutory Offices </a>    </li>
                        <li> <a href="#"> Management Offices </a>    </li>
                        <li> <a href="#"> Related Links </a>    </li>
                    </ul>
                </li>
                </li>
                <li>
                    <a href="#">Faculty And Research </a>
                    <ul>
                        <li> <a href="Jornals"  href="#"> Journal </a>    </li>
                        <li> <a href="#"> Office of Research </a>    </li>
                        <li> <a href="#"> Faculty Profiles </a>    </li>
                    </ul>
                </li>
                </li>
                <li>
                <a href="#">Contact  </a>
            </li>
            <li> 
                <a href="#"> Study at USKT   
            <ul>
                <li> <a href="#">Life at USKT  </a>    </li>
                <li> <a href="#">Facilities </a>    </li>
                <li> <a href="#">Faculties  </a>    </li>
                 
            </ul>
            
            
            </li>
                <li> 
                    <a href="#"> More
                        <span class="fa fa-plus"></span> </a>   
                <ul>
                    <li> <a href="#">Merit Lists  </a>    </li>
                    <li> <a href="#">Timetable </a>    </li>
                    <li> <a href="#">Uskt Magazine  </a>    </li>
                    <li> <a href="#">Downloads  </a>    </li>
                    <li> <a href="#">Aquire LMS  </a>    </li>
                     
                </ul>
                
                
                </li>
            </ul>


        </div>


    </nav>
    <div>
    
       
        <img src="~/lib/img/img.png" alt="image">

    
    </div>
       <h1 style="text-align: centre; "> University Information</h1>


    <div class="contentt">
        <h1 style="text-align:center ;"> Mission Of USKT:</h1>
        <p style="color:black ;"><b>Providing quality education at affordable cost with special emphasis on intellectual development and character building.
            Providing an academic environment to groom students’ natural abilities leading to professional success.
            Providing a conducive environment to foster critical thinking and complex problem solving abilities for promoting research and entrepreneurship culture in collaboration with industry.
          </b>
          </p>
    </div>


    <section class="cid-qRks4k1RYV snipcss-Imv5x snip-section" id="footer1-2">
        <div class="container">
          <div class="media-container-row content text-white">
            <div class="col-12 col-md-3 resize">
              <div class="media-wrap">
                <a href="/" class="snip-a">
                  <img src="https://uskt.edu.pk/Content/css/USKT_Logo.png" height="90" width="90" alt="USKT Sialkot" title="" class="snip-img">
                </a>
              </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style resize">
              <h5 class="pb-3 snip-h5" style="color:white">
                Address
              </h5>
              <p class="mbr-text snip-p">
                1-Km Main
                <br>
                Daska Road, Sialkot
              </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style resize">
              <h5 class="pb-3 snip-h5" style="color:white">
                Contacts
              </h5>
              <p class="mbr-text snip-p">
                Email: info@uskt.edu.pk
                <br>
                Phone: +92-523575518-20
                <br>
              </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style resize">
              <h5 class="pb-3 snip-h5" style="color:white">
                Links
              </h5>
              <p class="mbr-text snip-p">
                <a href="/Home/About" class="snip-a">
                  About Us
                </a>
                &nbsp;
                <br>
                <a href="/Home/FacultyData" class="snip-a">
                  Faculty
                </a>
                <br>
                <a href="/Home/Contact" class="snip-a">
                  Contact Us
                </a>
              </p>
            </div>
          </div>
          <div class="footer-lower">
            <div class="media-container-row">
              <div class="col-sm-12 resize">
                <hr>
              </div>
            </div>
            <div class="media-container-row mbr-white">
              <div class="col-sm-6 copyright">
                <p class="mbr-text mbr-fonts-style snip-p">
                  © Copyright 2022 University of Sialkot - All Rights Reserved
                </p>
              </div>
              <div class="col-md-6">
                <div class="social-list align-right">
                  <div class="soc-item">
                    <a href="https://www.facebook.com/uniofsialkot/" target="_blank" class="snip-a">
                      <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social">
                      </span>
                    </a>
                  </div>
                  <div class="soc-item">
                    <a href="https://twitter.com/USKT_Sialkot" target="_blank" class="snip-a">
                      <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social">
                      </span>
                    </a>
                  </div>
                  <div class="soc-item">
                    <a href="https://www.youtube.com/channel/UC2DTle4TfVbnFKkKMmS7mfg?view_as=subscriber" target="_blank" class="snip-a">
                      <span class="fa fa-youtube socicon mbr-iconfont mbr-iconfont-social">
                      </span>
                    </a>
                  </div>
                  <div class="soc-item">
                    <a href="https://www.instagram.com/uskt_sialkot" target="_blank" class="snip-a">
                      <span class="fa fa-instagram mbr-iconfont mbr-iconfont-social">
                      </span>
                    </a>
                  </div>
                  <div class="soc-item">
                    <span id="siteseal">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      @RenderBody()
    </body>



</html>

